[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
click = "*"
requests = "*"

[dev-packages]
pytest = "*"
isort = "*"
importmagic = "*"
epc = "*"
"flake8" = "*"
responses = "*"