[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
click = "*"
requests = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
isort = "*"
importmagic = "*"
epc = "*"
"flake8" = "*"
responses = "*"
mypy = "*"
pytest-pythonpath = "*"
pytest-cov = "*"
coveralls = "*"
